
<div class="container bg-white my-3" id="container-currentMyLists">
  <h3 class="heading-center my-3">Hey <%= current_user.first_name %>, welcome to your profile!</h3>
  <h1 class="heading-center my-3"> My Listings </h1>
  <div class="row justify-content-center">
    <%= link_to 'Add a listing', new_car_path, class: "btn-main" %>
  </div>


<div class="container py-3" id="my-cars">
  <div class="row justify-content-center">
    <% @my_cars.each do |car| %>
      <div class="col-4 d-flex justify-content-center">
        <%= link_to car_path(car), class: 'card-link' do %>
          <div class="m-3 card">
            <% if car.photos.first %>
            <div class="card-image">
                <%= cl_image_tag car.photos.first.key, crop: :fill %>
            </div>
            <% end %>
            <div class="p-3 card-info">
              <h5><%= car.make %>   <strong><%= car.model %></strong> </h5>
              <% if car.transactions.any? %>
                <% if car.transactions.last.status == "Accepted" %>
                <h5> Congatulations your car has been sold for £ <span><%= car.transactions.last.amount %></span></h5>
                <% else %>
                <h5>Pending bids</h5>
                <% end %>
              <% else %>
                <h5> Your car has not been sold </h5>
              <% end %>
              <%= car.mileage%>
            </div>
            <div class="row justify-content-center">
              <%= link_to "Delete", car_path(car), class: "btn-main bg-delete", method: :delete, data: { confirm: "Are you sure?" } %>
              <%= link_to "Edit", edit_car_path(car), class: "btn-main" %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

</div>
<div class="container py-3 mb-5" id="container-currentBids">
  <h1 class="heading-center my-3">My Current Bids </h1>

<% @bidded_cars.each do |car| %>
  <% if car.transactions.last.user == current_user %>
  <%= link_to car_path(car), class: 'card-link' do %>
    <div class="card-product my-3 winning_bid">
      <% car.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
      <div class="card-product-infos">
        <h2>Make: <%= car.make %></h2>
        <h2>Model: <%= car.model %></h2>
        <% car.transactions.last(3).reverse.each_with_index do |t, i| %>
                <% if t.user == current_user && t.status == "Accepted" %>
                <h2><strong> Congratulations, you have won the car</strong></h2>
                <% elsif i == 0 && t.user == current_user %>
                <h2><strong>£<%= t.amount%></strong> - You are the highest bidder </h2>
                <% elsif i == 0 %>
                <h2><strong>£<%= t.amount%></strong> - Bid by another customer</h2>
                <% elsif t.user == current_user %>
                <h2><strong>£<%= t.amount %></strong> - A previous bid by you</h2>
                <% else %>
                <h2>£<%= t.amount %></h2>
                <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
  <% else %>
  <%= link_to car_path(car), class: 'card-link' do %>
      <div class="card-product my-3 losing_bid">
        <% car.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
        <div class="card-product-infos">
          <h2>Make: <%= car.make %></h2>
          <h2>Model: <%= car.model %></h2>
          <% car.transactions.last(5).reverse.each_with_index do |t, i| %>
                  <% if i == 0 && t.user == current_user %>
                  <h2><strong>£<%= t.amount%></strong> - You Have The Highest Bid.</h2>
                  <% elsif i == 0 %>
                  <h2><strong>£<%= t.amount%></strong> - Current highest bid</h2>
                  <% elsif t.user == current_user %>
                  <h2><strong>£<%= t.amount %></strong> </h2>
                  <% else %>
                  <h2>£<%= t.amount %></h2>
                  <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    <% end %>
<% end %>
