

<div class="card-main">

  <div class="card-index-image" style="background-image: url(<%= car.photos.first ? (cl_image_path car.photos.first.key, crop: :fill) : ""  %>)">

  <div class="card-text">
    <% if ((Time.now - car.created_at)/86400).ceil == 1 %>
      <span class="date"><%=((Time.now - car.created_at)/86400).ceil%> Day ago</span>
    <% else %>
      <span class="date"><%=((Time.now - car.created_at)/86400).ceil %> Days ago</span>
    <% end %>
    <h2> <%= car.make %><strong><%= car.model %></strong></h2>
    <p><%= car.address%></p>
  </div>

  <div class="card-stats">
    <div class="year">
      <div class="value"><%= car.year %></div>
      <h3>Year</h3>
    </div>
    <div class="price">
      <div class="value"><%= car.price %></div>
      <h3>Price</h3>
    </div>
    <div class="mileage">
      <div class="value"><%= car.mileage %></div>
      <h3>Mileage</h3>
    </div>
  </div>

</div>

<!--

<div class="col-4">
  <%#= link_to car_path(car), class: 'card-link' do %>

      </div>

        <div class="card-index-text">
        </div>

        <div class="card-index-stats">
          <div class="stat">
            <div class="value"><%#= car.year %></div>
            <div class="type">Make</div>
          </div>
          <div class="stat border">
            <div class="type">Current Price</div>
            <div class="value"><%#= number_to_currency(car.transactions.present? ? car.transactions.last.amount : car.price, unit: '£', precision: 0) %></div>
          </div>
          <div class="stat">
            <div class="value"><%#= car.mileage %></div>
            <div class="type">Miles</div>
          </div>
        </div> -->
