<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div>
    <div class="title">
    <%= link_to "#", class: "navbar-brand" do %>
      <% end %>
      <h2>CARCLIQUE</h2>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <div class="navbar-headings-center">
    <div class="nav-item">
      <%= link_to "LISTING", "#", class: "nav-link" %>
    </div>
    <div class="nav-item">
      <%= link_to "ABOUT", "#", class: "nav-link" %>
    </div>
    <div class="nav-item">
      <%= link_to "CARS", "#", class: "nav-link" %>
    </div>
  </div>

    <% if user_signed_in? %>
      <div class="dropdown">
       <%= image_tag "menu.png", class: "menu dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-content">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      <% else %>
      <li class="nav-item">
        <%= link_to new_user_session_path, class: "nav-link" do %>
        <span class="login"><i class="fas fa-user"></i> LOG IN</span>
      <% end  %>
      </li>
    <% end %>
  </div>
</div>
</div>
