<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div>
    <div class="title">
    <%= link_to "#", class: "navbar-brand" do %>
      <% end %>
      <h2>CARCLIQUE</h2>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <div class="navbar-headings-center">
    <div class="nav-item">
      <%= link_to "LISTING", "#", class: "nav-link" %>
    </div>
    <div class="nav-item">
      <%= link_to "ABOUT", "#", class: "nav-link" %>
    </div>
     <div class="nav-item">
      <%= link_to "CARS", "#", class: "nav-link" %>
    </div>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <%= image_tag "menu.png", class: "menu dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Add listing", new_car_path, class: "dropdown-item" %>
            <%= link_to "LOG OUT", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to new_user_session_path, class: "nav-link" do %>
          <i class="fas fa-user"></i> LOG IN
          <% end  %>
        </li>
      <% end %>
    </ul>
  </div>

</div>
