<div class="navbar navbar-expand-sm navbar-light navbar-lewagon <%="navbar-lewagon-bg" unless controller_name == "pages"%>">
  <div>
    <div class="title">
    <%= link_to "#", class: "navbar-brand" do %>
      <% end %>
        <h2> <%= link_to "CARCLIQUE", root_path, class: 'nav_logo'%></h2>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <div class="navbar-headings-center">
    <div class="nav-item">
      <%= link_to "Home", root_path, class: "nav-link" %>
    </div>
    <div class="nav-item">
      <% if user_signed_in? %>
      <%= link_to "Profile", user_path(current_user), class: "nav-link" %>
      <% else %>
      <%= link_to "Profile", user_session_path, class: "nav-link" %>
      <% end %>
    </div>
    <div class="nav-item">
      <%= link_to "Cars", cars_path, class: "nav-link" %>
    </div>
  </div>

  <% if user_signed_in? %>
    <div class="dropdown">
      <%= image_tag "menu.png", class: "menu dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <div class="dropdown-content">

          <%= link_to "My Profile", user_path(current_user), class: "dropdown-item" %>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </div>
  <% else %>
    <div class="nav-item">
      <%= link_to new_user_session_path, class: "nav-link" do %>
        <span class="login"><i class="fas fa-user"></i> LOG IN</span>
      <% end %>
    </div>
  <% end  %>
</div>
