<div class="listing-pg">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-pg-image border">
        <h1>hello</h1>
      </div>
    </div>
    <div class="col-sm-8 border m-4 p-4">
      <h2>Add a car listing</h2>
        <%= simple_form_for @car do |f| %>
          <%= f.input :make, label: "Car make", error: 'Make is mandatory, please specify one' %>
          <%= f.input :model, label: "Car model", error: 'Model is mandatory, please specify one' %>
          <%= f.input :year, label: 'Car year', error: 'Car year is mandatory, please specify one' %>
          <%= f.input :registration, label: "Car registration", error: 'registration is mandatory' %>
          <%= f.input :price, label: "Car outstanding PCP balance", error: 'Outstanding balance is mandatory, please specify one' %>
          <%#= f.input :fuel_type, label: "Car fuel type", error: 'Fuel type is mandatory' %>
          <%= f.input :fuel_type, label: 'Car fuel_type', collection: [ ['Diesel' ], ['Petrol'] ], as: :radio_buttons, label_method: :last, value_method: :first, checked: @car.fuel_type %>
          <%#= f.input :transmission, label: "Car transmission", error: 'transmission type is mandatory' %>
          <%= f.input :transmission, label: 'Car transmission type', collection: [ ['Manual' ], ['Automatic'] ], as: :radio_buttons, label_method: :last, value_method: :first, checked: @car.transmission %>
          <%= f.input :engine_size, label: "Car Engine size", error: 'Engine size is mandatory' %>
          <%#= f.input :hpi_clear, label: "Is your car HPI clear", as: :radio_buttons, label_method: :last, value_method: :first, checked: @car.hpi_clear %>
          <%= f.input :reference, label: 'Car PCP reference number', error: 'Refernce number is mandatory, please specify one' %>
          <%= f.input :finance, label: "Finance Provider", error: 'This is mandatory, please specify one' %>
          <%= f.input :address, label: "Car address" %>
          <%= f.input :description, label: "Car description" %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <%= f.button :submit %>
        <% end %>
    </div>
  </div>
</div>
