<%= simple_form_for :search, url: cars_path, method: :get do |f|%>
  <%= f.input :query_make, collection: @cars_all.map(&:make).uniq %>
  <%= f.input :query_model, collection: @cars_all.map(&:model).uniq %>
  <%= f.submit "Search", class: "btn btn-primary" %>
<% end %>

<div class="container">
  <div class="row justify-content-center">
    <% @cars.each do |car|%>
      <div class="col-4">
        <div class="column">
            <div class="card">
              <%= car.make %>
              <%= car.model %>
              <%= car.price %>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
