<div class="h1-index m-5 "></div>
<!-- <h1>Let CarClique find you your perfect car</h1> -->
<div class="container-form-form">
  <div class="simple-form container mt-5 mb-5 p-4">
    <%= simple_form_for :search, url: cars_path,  method: :get do |f|%>
    <div class="row">
      <div class="col-4">
        <%= f.input :make, collection: @cars_all.map(&:make).uniq %>
      </div>
      <div class="col-4">
        <%= f.input :model, collection: @cars_all.map(&:model).uniq %>
      </div>
      <div class="col-4">
        <%= f.input :engine_size, collection: @cars_all.map(&:engine_size).uniq%>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <%= f.input :year, collection: @cars_all.map(&:year).uniq%>
      </div>
      <div class="col-4">
        <%= f.input :fuel_type, collection: @cars_all.map(&:fuel_type).uniq%>
      </div>
      <div class="col-4">
        <%= f.input :price, collection: @cars_all.map(&:price).uniq%>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <%= f.input :transmission, collection: @cars_all.map(&:transmission).uniq%>
      </div>
      <div class="col-4 d-flex justify-content-center text-align-center">
        <%= f.submit "Search", class: "btn btn-filter" %>
      </div>
      <div class="col-4">
        <%= f.input :colour, collection: @cars_all.map(&:colour).uniq%>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="container all-cards bg-white">
  <div class="row justify-content-center">
    <% @cars.each do |car| %>
      <div class="col-4">
        <%= link_to car_path(car), class: 'card-link' do %>
        <div class="card-index-new">
          <div class="card-index-image" style="background-image: url(<%= car.photos.first ? (cl_image_path car.photos.first.key, crop: :fill) : ""  %>)">
          </div>
          <div class="card-index-text">
            <span class="date">4 days ago</span>
            <h2> <%= car.make %>   <strong><%= car.model %></strong></h2>
            <p> blah blah blah blah </p>
            <h5> <%= car.description %> </h5>
          </div>
          <div class="card-index-stats">
            <div class="stat">
              <div class="value"><%= car.year %></div>
              <div class="type">Make</div>
            </div>
            <div class="stat border">
              <div class="value"><%= number_to_currency(car.transactions.present? ? car.transactions.last.amount : car.price, unit: '£', precision: 0) %></div>
              <div class="type">RRP from</div>
            </div>
            <div class="stat">
              <div class="value"><%= car.mileage.present? ? car.mileage : 0 %></div>

              <div class="type">Miles</div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
