<div class="container">
  <div class="row">
    <div class="col-8">
      <% if @car.photos.any? %>
        <%= cl_image_tag @car.photos.first.key, class: "car_show_image", crop: :fill %>
        <div class="scroll-row">
          <% @car.photos.each do |photo| %>
            <%= cl_image_tag photo.key, class: "scroll_image", crop: :fill %>
          <% end %>
        </div>
      <% end %>
      <p>(Scroll to see more)</p>
      <h4>Description</h4>
      <p><%= @car.description %></p>
      <h4>Car address</h4>
      <p><%= @car.address %></p>
      <div id="map"
        style="width: 100%; height: 350px; box-shadow: 0 0 15px rgba(0,0,0,0.2); margin: 0 auto; margin-bottom: 40px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <h4>Create a bid on this car</h4>
      <% if @car.transactions.any? %>
        <h6 class="my-4"><strong>Highest Current Bid:</strong> £<%= @car.transactions.last.amount %></h6>
        <span id="accepted-status">Status: <%= @car.transactions.last.status %></span>
      <% end %>
      <%= simple_form_for [@car, @transaction] do |f| %>
        <%= f.input :amount, input_html: {min: @car.price , value: @car.price } %>
        <%= f.submit "create bid", class: 'btn btn-main' %>
      <% end %>
      <% if current_user == @car.user && car.transactions.any? %>
        <%= link_to "Accept the bid", accept_bid_car_path(@car), method: :patch %>
      <% end %>
      <h6><%= ((Time.now - @car.created_at + 3600)/86400).round %>  days since the car was created </h6>
    </div>
    <div class="col-4">
      <h4>Overview</h4>
      <div class="car-specifications">
        <ul class="row list-design">
          <li class="mr-4">
            <h5><i class="fas fa-tachometer-alt "></i><%= @car.mileage %></h5>
          </li>
          <li class="mr-4">
            <h5><%= image_tag "car-engine-incon.svg", class: "show-icons" %><%= @car.engine_size %>L</h5>
          </li>
          <li class="mr-4">
            <h5><i class="fas fa-gas-pump show-icons "></i><%= @car.fuel_type %></h5>
          </li>
          <li class="mr-4">
            <h5><%= image_tag "car-transmission.svg", class: "show-icons" %><%= @car.transmission %></h5>
          </li>
        </ul>
         <ul class="row list-design">
          <li class="mr-4">
            <h5><i class="fas fa-tint show-icons-tint"></i><%= @car.colour %></h5>
          </li>
          <li class="mr-4">
            <% hpi_check = @car.hpi_clear == "Yes" ? "fas fa-check-circle" : "fas fa-times-circle" %>
            <h5><i class="<%= hpi_check %> show-icons"></i>HPI clear</h5>
          </li>
        </ul>
      </div>
      <h4>Current finance provider</h4>
      <%= @car.finance_provider %>
      <h2><strong><%= @car.make %> <%=@car.model %></strong></h2>
      <h4><%= @car.year %> | <%= @car.registration %></h4>
      <% @min = @car.transactions.present? ? @car.transactions.last.amount : @car.price %>
      <h2>£<%= @min %></h2>
    </div>
  </div>
</div>
<div class="bg-light">
  <div class="container">
    <h2>View similar cars based on the make you chose</h2>
    <div class="row">
      <% @similar_cars.each do |car| %>
        <div class="col-4">
          <%= link_to car_path(car), class: 'card-link' do %>
            <!-- TODO -->
            <%= car.make %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  document.querySelectorAll(".scroll_image").forEach((e) => {
    e.addEventListener("click", (event) => {
    document.querySelector(".car_show_image").src = event.target.src
    })
  })
</script>
(edited)


