<div class="container mt-5">
  <div class="row border m-3">
    <div class="col-sm-8 p-3">
      <div>
        <% @car.photos.each do |photo| %>
          <%= cl_image_tag photo.key,class: "car_show_image", crop: :fill %>
        <% end %>
      </div>
    </div>

    <div class="col-sm-4 p-3 ">
      <div class="car_show_details mb-5">
        <h2><strong><%= @car.make %> <%=@car.model %></strong></h2>
        <h5><%= @car.year %></h5>
        <h5><%= @car.registration %></h5>
        <h2>£<%= @car.price %></h2>
      </div>
      <div class="col-sm-12">
        <h5>Current finance provider</h3>
        <%= @car.finance %>
      </div>
    </div>
  </div>

  <div class="row border m-3">
    <div class="col-sm-7">
      <div class="car-overview-showpg p-3">
        <h4>Overview</h4>
        <h5><%= @car.engine_size %></h5>
        <h5><i class="fas fa-gas-pump "></i><%= @car.fuel_type %></h5>
        <h5><%= @car.transmission %></h5>
        <h5><i class="fas fa-check-square"></i><%= @car.hpi_clear %></h5>
        <h5><i class="fas fa-tint"></i><%= @car.colour %></h5>
      </div>
      <div class="car-description-showpg p-3 ">
        <h4>Description</h4>
        <p><%= @car.description %></p>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="car-address justify-content-center m-2">
        <%= @car.address %>
      </div>
      <div id="map"
        style="width: 100%; height: 300px; box-shadow: 0 0 15px rgba(0,0,0,0.2); margin-top: 80px; margin: 0 auto; margin-bottom: 20px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>


  <div class="create-a-bid-div border m-3 p-3">
    <h4>Create a bid on this car</h4>


    <% @car.transactions.last(1).each do |t| %>
      <h6 class="my-4"><strong>Highest Current Bid:</strong> £<%= t.amount %></h6>
      <% total = t.amount %>
    <% end %>

    <%= simple_form_for [@car, @transaction] do |f| %>
      <%= f.input :amount, input_html: {min: @car.transactions.last.amount, value: @car.transactions.last.amount } %>
      <%= f.submit "create bid" %>
    <% end %>
  </div>

</div>


