<div class="container mt-5">
  <div class="container bg-white p-3">
    <div class="car_show_name">
        <h2><%= @car.make %> <strong><%=@car.model %></strong></h2>
    </div>
    <div>
       <%= cl_image_tag @car.photos.first.key,class: "car_show_image", crop: :fill %>
    </div>
  </div>


  <% @car.transactions.last(1).each do |t| %>
    <h6 class="my-4"><strong>Highest Bid:</strong> £<%= t.amount %></h6>
  <% end %>

  <%= simple_form_for [@car, @transaction] do |f| %>
  <%= f.input :amount, input_html: {min: @car.price, value: @car.price } %>
  <%= f.submit %>
<% end %>

</div>

<div id="map"
   style="width: 40%; height: 300px; box-shadow: 0 0 15px rgba(0,0,0,0.2); margin-top: 80px; margin: 0 auto;"
   data-markers="<%= @markers.to_json %>"
   data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

