<div class="container">
  <div class="row ">
    <div class="col-8 photo-gallery">
      <% if @car.photos.any? %>
        <%= cl_image_tag @car.photos.first.key, class: "main-gallery-image", crop: :fill %>
        <div class="scroll-row">
          <% @car.photos.each do |photo| %>
            <%= cl_image_tag photo.key, class: "scroll_image", crop: :fill %>
          <% end %>
        </div>
      <% end %>
      <h4 class="mt-4">Description</h4>
      <p><%= @car.description %></p>
      <h4 class="mt-4">Car address</h4>
      <p><%= @car.address %></p>
      <div id="map"
        style="width: 100%; height: 350px; box-shadow: 0 0 15px rgba(0,0,0,0.1); margin: 0 auto; margin-bottom: 40px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <div class="col-4 car-specs">
      <!-- <div class="car-specifications"> -->
        <div class="mb-3">
          <h2><strong><%= @car.make %> <%=@car.model %></strong></h2>
          <h3><%= @car.year %> | <%= @car.registration %></h3>
          <% @min = @car.transactions.present? ? @car.transactions.last.amount : @car.price %>
          <h2>£<%= number_with_precision(@min, :precision => 2, :delimiter => ',') %></h2>
        </div>
        <div class="mb-3">
          <h4>Current finance provider</h4>
          <%= @car.finance_provider_id %>
        </div>
        <div class="mb-1 mt-2" >
          <h4>Overview</h4>
          <ul class="row list-design ">
            <li class="">
              <h6><i class="fas fa-tachometer-alt show-icons"></i><%= @car.mileage %></h6>
            </li>
            <li class="">
              <h6><%= image_tag "car-engine-incon.svg", class: "show-icons" %><%= @car.engine_size %>L</h6>
            </li>
            <li class="">
              <h6><i class="fas fa-gas-pump show-icons "></i><%= @car.fuel_type %></h6>
            </li>
          </ul>
           <ul class="row list-design">
            <li class="">
              <h6><%= image_tag "car-transmission.svg", class: "show-icons" %><%= @car.transmission %></h6>
            </li>
            <li class="">
              <h6><i class="fas fa-tint show-icons"></i><%= @car.colour %></h6>
            </li>
            <li class="">
              <% hpi_check = @car.hpi_clear == "Yes" ? "fas fa-check-circle" : "fas fa-times-circle" %>
              <h6><i class="<%= hpi_check %> show-icons"></i>HPI clear</h6>
            </li>
          </ul>
          <div class="bidding-box">
            <h4>Bid on this car</h4>
            <% if @car.transactions.any? %>

              <h6 class=""><strong>Highest Current Bid:</strong> £<%= number_with_precision(@car.transactions.last.amount, :precision => 2, :delimiter => ',') %></h6>
              <span id="accepted-status">Status: <%= @car.transactions.last.status %></span>
            <% end %>
            <%= simple_form_for [@car, @transaction] do |f| %>
            <p class="p-tag mt-2">Must be higher than the minimum price</p>
              <%= f.input :amount, input_html: {min: @min , value: @min } %>
              <%= f.submit "create bid", class: 'btn btn-main' %>
            <% end %>
            <% if current_user == @car.user && @car.transactions.any? %>
              <%= link_to "Accept the bid", accept_bid_car_path(@car), method: :patch %>
            <% end %>
            <h6 class="mt-2"><%= ((Time.now - @car.created_at + 3600)/86400).round %>  days since the car was created </h6>
          </div>
        </div>
     <!--  </div> -->
    </div>
  </div>
</div>
<div class="bg-light">
  <div class="container pt-3 pb-4">
    <h2>View similar cars based on the make you chose</h2>
    <div class="row">
      <% @similar_cars.each do |car| %>
        <div class="col-4">
          <%= link_to car_path(car), class: 'card-link' do %>
            <div class="card-index-new mt-2">
              <div class="card-index-image" style="background-image: url(<%= car.photos.first ? (cl_image_path car.photos.first.key, crop: :fill) : ""  %>)">
              </div>
              <div class="card-index-text">
                <span class="date">4 days ago</span>
                <h2> <%= car.make %>   <strong><%= car.model %></strong></h2>
              </div>
              <div class="card-index-stats">
                <div class="stat">
                  <div class="value"><%= car.year %></div>
                  <div class="type">Make</div>
                </div>
                <div class="stat border">
                  <div class="type">RRP from</div>
                  <div class="value"><%= number_to_currency(car.transactions.present? ? car.transactions.last.amount : car.price, unit: '£', precision: 0) %></div>
                </div>
                <div class="stat">
                  <div class="value"><%= car.mileage %></div>
                  <div class="type">Miles</div>
                </div>
              </div>
            </div>

          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  document.querySelectorAll(".scroll_image").forEach((e) => {
    e.addEventListener("click", (event) => {
    document.querySelector(".main-gallery-image").src = event.target.src
    })
  })
</script>



